<%= form_with model:hobby, url: url, class: "mx-auto" do |f| %>
  <%= render 'layouts/error_messages', resource: hobby %>
  <div class="row">
    <div class="col-12 col-md-5">
      <%= f.label :image, "画像" %>
      <div class="image_field">
        <%= image_tag (hobby.image.attached? ? hobby.image : 'no-image.png'), id: "img_prev", class: "hobby_image img-fluid" %>
        <div class="input-group my-3">
          <%= f.file_field :image, class: "form-control", accept: 'image/*' %>
          <div class="input-group-append">
            <span class="input-group-text btn btn-info">画像選択</span>
          </div>
        </div>
        <p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-4">
      <table class="table hobby_info item_form">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td><%= f.label :name, "タイトル" %></td>
            <td><%= f.text_field :name, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :introduction, "こんな人におススメ！や難易度等" %></td>
            <td><%= f.text_area :introduction, rows: 3, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :genre_id, "ジャンル" %></td>
            <td class="select_field"><%= f.collection_select :genre_id, Genre.all, :id, :name, {}, { class: "form-control" } %></td>
          </tr>
          <tr>
            <td>おすすめグッズ</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-4">
      <%= f.submit submit, class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

