<% if flash[:notice] %>
  <p class="text-active"><%= flash[:notice] %></p>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <h5>ジャンル一覧</h5>
      <%#= select_tag 'example', options_for_select([['Option 1'], ['Option 2']]) %>
        <select class= "form-control">
          <% @genres.each do |genre| %>
          <option><%= genre.name %></option>
          <option><%#= genre.name, hobbies_path(genre_id: genre.id) %></option>
          <% end %></select>
          <!--(genre_id: genre.id)-->
      <h5>現在の有効<br>タグ</h5>
	  	<% @tags.each do |tag| %>
	  		<%= link_to tag.name, tag_path(tag),class: "btn btn-outline-dark" %>
	  	<% end %>
    </div>
  <div class="col-md-10">
    <div class="container">
      <% if params[:genre_id] %>
        <h2><%= @genre.name %>の趣味一覧 (全<%= @all_hobbies_count %>件)</h2>
      <% else %>
        <h2>趣味一覧 (全<%= @all_hobbies_count %>件)</h2>
      <% end %>

        <div class="row">
          <% if @hobbies.first %>
            <% @hobbies.each do |hobby| %>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <%= link_to hobby_path(hobby) do %>
                    <%= image_tag hobby.get_image, format: "jpeg", fallback: "no-image.png", class: "bd-placeholder-img card-img-top", size: "350x200" %>
                    <h4><div class="badge badge-primary"><%= hobby.genre.name %></div></h4>
                  <% end %>
                  <div class="card-body">
                    <div class="card-text text-center">
                      <h4><%= hobby.name %></h4>
                    </div>
                    <small class="text-muted">投稿者<%= hobby.user.name %></small>
                    <small class="text-muted"><%= hobby.created_at.strftime('%Y/%m/%d') %></small>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <h2>現在その趣味投稿はありません。</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>