<div style="font-size:40px;"><%= link_to "Shuuume", root_path, class: "shuuume nav-link" %></div>
<% if user_signed_in? %>
  <ul class="navbar navbar-expand-lg">
    <div class="text-light">ようこそ、<%= current_user.name %>さん！</div>
  </ul>
  <ul class="nav col-6 col-sm-auto col-lg-auto ml-5 justify-content-end">
    <li class="nav-item">
      <%= link_to "マイページ", mypage_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "新規投稿", new_hobby_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "趣味一覧", hobbies_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>
      <%#= form_tag(admin_search_path, method: :get) do %>
      <%= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
      <%= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
      <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
      <%= submit_tag '検索', class: "btn btn-primary" %>
  </ul>

<% elsif admin_signed_in? %>
  <ul class="navbar navbar-expand-lg">
    <div class="text-light">管理者でログインしています</div>
  </ul>
  <ul class="nav col-6 col-sm-3 col-lg-auto ml-5 justify-content-end ">
    <li class="nav-item">
      <%= link_to "投稿一覧", admin_hobbies_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "会員一覧", admin_users_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "ログアウト",  destroy_admin_session_path, method: :delete, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>
  </ul>
<% else %>
<div class="row">
    <div class="col-md">
      <ul class="nav col-6 col-sm-3 col-lg-auto my-2 justify-content-end my-md-0">


        <li class="nav-item">
          <%#= link_to "About", about_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>

        <li class="nav-item">
          <%= link_to "趣味一覧", hobbies_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>

        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>

        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        <li class="nav-item">
          <%= link_to "管理者ログイン", new_admin_session_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>